<% content_for :title, "Artworks" %>
<div class="w-full flex flex-col justify-start items-center gap-2">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center relative">
    <h1 class="my-5 lg:my-0 left-1/2 translate-0 lg:translate-x-1/2 font-bold font-3xl lg:text-4xl fixed lg:top-40 lg:left-0 ml-0 lg:ml-4"><%= @current_category.presence || "All Artworks" %></h1>
  </div>
  <div id="artworks" class="min-w-80 divide-y divide-gray-200 space-y-5">
    <% if @artworks.any? %>
      <% @artworks.each do |artwork| %>
        <div class="flex flex-col justify-between items-center md:pb-5 pb-0">
          <!-- Wrap the partial in a link_to block -->
          <%= link_to artwork, class: "block w-full hover:opacity-90 transition-opacity" do %>
            <%= render artwork %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No artworks found.</p>
    <% end %>
  </div>
</div>
